<div class="description" style="padding-bottom: 120px;">
  <h2 style="margin-top: 30px; text-align: center;">Top Spammiest Friends</h2>
  <ul style="padding: 0;">
  <% @spammer_hash.each_with_index do |(id, spammer), index| %>
    <li class="spam-list spam-list-<%=index+1%>">
      <%= link_to spammer['name'], "https://www.facebook.com/#{spammer['id']}", target: '_blank' %>: <%= pluralize(spammer['spam_count'], 'spam links') %>
      <%= image_tag spammer['pic'] %>
    </li>
  <% end %>
  </ul>
  <% if @item_count.zero? %>
    <div style="text-align: center;">We're sorry, we had trouble accessing your facebook feed. You may be way too popular and have way too many posts for us to handle. <em>Sorry!</em></div>
  <% else %>
    <div style="text-align: center;">Processed <%= @item_count %> links from your feed.</div>
  <% end %>
</div>

<div class="wrapper" style="padding: 15px 0;">
  <h2 style="text-align: center; margin-top: 0; letter-spacing: 1px;">Please share to help stop spam!</h2>
  <div style="text-align: center;">
    <div class="fb-share-button" data-href="http://www.stopfriendspam.com/" data-type="button_count" style="line-height: 19px; vertical-align: top;"></div>
    &nbsp;&nbsp;
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.stopfriendspam.com/" data-text="Find the friends who spam you the most on Facebook with Stop Friend Spam" data-related="mfkp" data-dnt="true">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>

<style>
  .outer-wrapper {
    background: none;
  }
</style>